<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="挂号费" value="2.00"/>
    <add  key="普通" value="3.00"/>
    <add key="急诊" value="5.00"/>
    <add key="专科" value="6.00"/>
    <add key="SendNotificationInfo" value="192.168.1.5,55996|"/>
    <add key="NoticeListenPort" value="55996"/>
  </appSettings>
  <connectionStrings>
    <add name="connectionstring" connectionString="server=121.40.173.29;user id=xjqr;database=his;password=xjqr234"/>
  </connectionStrings>
</configuration>